<!DOCTYPE html>
<html ng-app="angular-login">
  <head>
    <title>IDIES Single Sign On</title>

    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- BootstrapCDN -->
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- compiled css -->
    <link href="style.css" rel="stylesheet">
    <!-- libraries concatenated -->
    <script type="text/javascript" src="libs.js"></script>
    <!-- app concatenated -->
    <script type="text/javascript" src="app.js"></script>
    <!-- html templates -->
    <script type="text/javascript" src="templates-app.js"></script>

  </head>
  <body ng-controller="BodyController">
    <div class="container">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" collapse="isCollapsed">
          <!-- Navbar links -->
          <ul class="nav navbar-nav">
            <li ng-class="{ active: $state.is('app.home') }">
              <a ui-sref="app.home">Home</a>
            </li>
            <li ng-class="{ active: $state.is('app.user') }">
              <a ui-sref="app.user">User Resources</a>
            </li>
            <li ng-class="{ active: $state.is('app.admin') }">
              <a ui-sref="app.admin">Admin</a>
            </li>
          </ul>
          <!-- Right side of the navbar -->
          <!-- Login Form -->
          <form class="navbar-form navbar-right hidden-sm hidden-xs" name="loginForm" role="login" ng-submit="loginMe()" ng-hide="ls.isLogged || !ls.doneLoading || $state.is('app.home')">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="login.username" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" ng-model="login.password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default" ng-disabled="login.working">Login <i class="fa" ng-class="login.working ? 'fa-cog fa-spin' : 'fa-sign-in'"></i></button>
          </form>
          <!-- Spinner -->
          <button class="btn btn-default navbar-btn navbar-right" ng-hide="ls.doneLoading">
            <i class="fa fa-spinner fa-spin"></i>
          </button>
          <!-- Logout Form -->
          <form class="navbar-form navbar-right" role="logout" ng-submit="logoutMe()" ng-show="ls.isLogged">
            <span class="label" id="navbarlabel">
              <label>Hello {{ ls.user.access.user.name }}</label>
            </span>
            <div class="form-group">
              <button  type="submit" class="btn btn-default">Logout <i class="fa fa-sign-out"></i></button>
            </div>
          </form>
        </div>
        <div class="login-error" ng-class="{ 'active': login.wrong }">
          <div class="alert alert-danger"><b>Error:</b> Server said your user/pass doesn't match existing users.</div>
        </div>
      </div>
      <div>
        <alert class="app-alert" ng-repeat="alert in alerts" type="alert.type" close="closeAlert(alert)">{{alert.msg}}</alert>
      </div>
      <ui-view ng-hide="doingResolve"></ui-view>
      <div class="jumbotron loading-jumbo" ng-show="doingResolve">
        <h1><i class="fa fa-refresh fa-2x fa-spin"></i> Loading</h1>
      </div>
    </div>
  </body>
</html>
