<div class="panel panel-default">
  	<h1>Admin interface</h1>
	<div class="panel panel-default">
	  <div class="panel-heading form-inline">
        Manage users
	  	<button type="button" class="btn btn-xs btn-danger" confirm-click="deleteUser()" confirm-message="Are you sure?" style="margin-left: 30px;"><i class="fa fa-times"></i> Remove selected user</button>
	  </div>
	  <div class="gridStyle" ng-grid="gridOptions"></div>
	</div>
	<div class="alert alert-warning">Changing group settings will revoke all issued tokens for affected user. You will have to relogin when changing the current user settings.</div>
	<div class="panel panel-default">
	  <div class="panel-heading form-inline">Manage groups
	  	<input type="text" class="form-control input-sm" placeholder="Group name" style="width: 200px; margin-left: 30px;" ng-model="newGroupName"></input>
	  	<button type="button" class="btn btn-xs btn-success" ng-required="true" ng-click="addGroup(newGroupName)"><i class="fa fa-plus"></i> Add group</button>
	  	<button type="button" class="btn btn-xs btn-danger" confirm-click="removeGroup()" confirm-message="Are you sure?"><i class="fa fa-times"></i> Remove selected group</button>
	  </div>
	  <div class="gridStyle" ng-grid="groupsGrid"></div>
	  <div class="panel row">
	      <div class="gridStyle col-md-5" ng-grid="groupUsersGrid"></div>
		  <div class="col-md-2" align="center">
		  	<button type="button" class="btn btn-default" ng-click="addUserToGroup()"><i class="fa fa-chevron-left"></i></button>
		  	<button type="button" class="btn btn-default" ng-click="removeUserFromGroup()"><i class="fa fa-chevron-right"></i></button>
		  </div>
		  <div class="gridStyle col-md-5" ng-grid="usersGrid"></div>
	  </div>
	</div>
</div>
